body {
  background-color:#bcd5d1;
  padding-top: 70px;
}

.myNavbar {
  background-color:#1d2120;
}

.myJumbotron {
   background-color:#ba9077;
   padding:20px;
}

.myFooter {
  background-color:#5a5c51;
}

.postDisplay {
 background-color:white;
}
